services:
  frontend:
    build:
      context: ./fe
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./fe/src:/app/src
      - /app/node_modules
    environment:
      - VITE_API_URL=$BACKEND_URL
    depends_on:
      - backend

  backend:
    build:
      context: ./be
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./be/app:/app/app
      - /app/__pycache__
    environment:
      - DATABASE_URL=$DATABASE_URL
      - SEPOLIA_URL=$SEPOLIA_URL
      - CONTRACT_ADDRESS=$CONTRACT_ADDRESS
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data: